name: SpeedyTransforms
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  test:
    name: Julia v${{ matrix.version }}, ${{ matrix.os }}, ${{ matrix.arch }}
    # don't run if any of these labels are present
    if: >
      !( 
      contains(github.event.pull_request.labels.*.name, 'skip-ci') ||
      contains(github.event.pull_request.labels.*.name, 'skip-submodules-ci') ||
      contains(github.event.pull_request.labels.*.name, 'skip-speedytransforms-ci')
      )
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ./SpeedyTransforms
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      matrix:
        version:
          - '1.12'
          - '1.11'
          - '1.10'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - name: Julia 1.10, add local packages as sources not supported yet
        shell: julia --color=yes --project=. {0}
        run: |
          using Pkg
          Pkg.develop([PackageSpec(; path) for path in ("SpeedyWeatherInternals", "LowerTriangularArrays", "RingGrids", "SpeedyTransforms")])
          Pkg.instantiate()
        if: ${{ matrix.version == '1.10' }}
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          project: SpeedyTransforms
        env:
          GITHUB_AUTH: ${{ secrets.GITHUB_TOKEN }}