name: Documentation

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:

jobs:
  build:
    name: build
    # don't run if any of these labels are present
    if: >
      !(  
      contains(github.event.pull_request.labels.*.name, 'skip-ci') ||
      contains(github.event.pull_request.labels.*.name, 'skip-docs')
      )
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.11'
      - name: Install dependencies
        run: julia --color=yes --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path = "SpeedyWeather")); Pkg.instantiate()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}       # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY2 }}  # For authentication with SSH deploy key
        run: JULIA_DEBUG=Documenter julia --color=yes --project=docs/ docs/make.jl
